aside {
    grid-area: 2 / 1 / 3 / 2;
    margin: 10px;

    #welcome-dialog[open] {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 250px;
        border-radius: 4px;
        background-color: var(--dialog-background);
        h2 {
            text-align: center;
        }
        p {
            background-color: var(--light-beije);
            padding: 10px;
            border-radius: 4px;
        }
        button {
            width: fit-content;
            padding: 10px 20px;
        }
    }

    #project-dialog {
        align-items: center;
        border-radius: 8px;
        background-color: var(--dialog-background);
        input {
            border-radius: 6px;
            height: 25px;
        }
        button {
            border-radius: 4px;
            padding: 5px 10px;
        }
    }

    #todo-dialog[open] {
        display: flex;
        flex-direction: column;
        background-color: var(--dialog-background);
        border-radius: 8px;
        gap: 5px;
        padding: 16px 30px;
        input {
            border-radius: 6px;
            height: 25px;
        }
        button {
            border-radius: 6px;
            height: 25px;
        }
        select {
            border-radius: 6px;
            height: 25px;
            border: 2px solid var(--background-dark);
        }
    }

    .aside-button {
        width: 150px;
        padding: 10px 0;
        margin: 10px;
        border: 1px solid var(--background-dark);
        border-radius: 6px;
        font-size: 1.2em;
    }    
}
