@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:100,300,400');

:root {
    --shadow: 2px 2px 5px rgb(197, 194, 194);
    --shadow-title: 2px 2px 10px rgb(116, 116, 116);
    --shadow-hover: 2px 2px 10px rgb(116, 116, 116);
    --selected: 2px 2px 20px rgb(107, 108, 109);
    --gray-background: rgb(197, 194, 194);
    --light-gray-background: rgb(249, 248, 248);
    --medium-gray-background: #463931;
    --dialog-background: rgb(197, 194, 194);
    --buttons-background-color: rgb(223, 222, 222);
    --dark-background: #272523;
    --dark-brown-background: #463831;
}

/* ------------------------ GLOBAL */
body {
    font-family: 'Roboto', sans-serif;

    display: flex;
    justify-content: center;
    margin: 0;
    background-color: black;
}

#wrap-all {
    display: grid;
    grid-template: 1fr 6fr / 200px 5fr;
    background-color: var(--gray-background);
    max-height: 100vh;
    overflow: scroll;
}

header {
    grid-area: 1 / 1 / 2 / 3;

    display: flex;
    align-items: center;
    margin: 5px 20px;
}

main {
    grid-area: 2 / 2 / 3 / 3;

    display: flex;
    padding: 10px;
    background-color: white;

    #projects-container {
        display: flex;

        #all-projects-container {
            display: flex;
        }
    }
    h3 {
        margin: 0;
        font-size: 1.2rem;
    }
    h2 {
        margin: 10px;
        font-size: 1.5rem;
    }
    p {
        margin: 0;
        font-size: 1rem;
        font-weight: 400;
    }
}

/* ------------------------ hover actions */

button:hover {
    cursor: pointer;
    background-color: var(--buttons-background-color);
}

.done:hover {
    cursor: pointer;
}

.project-card:hover {
    box-shadow: var(--shadow-hover);
}

.todo-card:hover {
    cursor: pointer;
    box-shadow: var(--shadow-hover);
}

