.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: fit-content;
    height: fit-content;
    margin: 10px;
    border: 2px solid gray;
    border-radius: 10px;
    background-color: var(--background-project-cards);

    .project-header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        width: 100%;
    }

    .project-delete-button {
        border: grey;
        border-radius: 6px;
        margin: 10px;
        padding: 10px 20px;
        font-size: 1.2em;
    }

    .add-todo-plus-button {
        padding: 0 10px;
        font-weight: 400;
        font-size: 2em;
        margin: 10px;
        border-radius: 50px;
        border: gray;
    }
}

.project-card-selected {
    box-shadow: var(--selected);
}

.todo-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    width: 400px;
    height: fit-content;
    border: 1px solid gray;
    border-radius: 6px;
    padding: 10px;
    margin: 10px;
    box-shadow: var(--shadow);
    background-color: white;

    @media (max-width: 768px) {
        width: 200px;
      }

    .disable-display {
        display: none;
    }

    .enable-display {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 380px;
        height: fit-content;
        border: 1px solid gray;
        border-radius: 6px;
        padding: 15px;
        margin: 10px;
        box-shadow: var(--shadow);
        background-color: white;
    }

    .todo-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .todo-description {
        height: 5em;
        border: 0.5px solid grey;
        border-radius: 3px;
        padding: 2px;
    }

    .interaction-container {
        display: flex;
        align-items: center;

        .done {
            height: 20px;
            width: 20px;
            appearance: none;
            position: relative;
            border: solid 1px var(--background-dark);
        }
    }

    button {
        width: fit-content;
        height: fit-content;
        padding: 2px 20px;
    }

    i {
        font-size: 1.2em;
        padding: 8px;
        border-radius: 4px;
    }
}

.todo-card-details-enabled {
    flex-direction: column;
}

/* ------------------------ hover actions */
i:hover {
    box-shadow: var(--shadow-hover);
    color: var(--hover-red);
    font-size: 1.3em;
    padding: 7px;
}

.project-delete-button:hover {
    color: var(--hover-red);
    font-weight: 900;
}

.todo-card:hover {
    background-color: var(--buttons-background-color);
}

.add-todo-plus-button:hover {
    color: var(--hover-green);
}

.done:hover {
    box-shadow: var(--shadow-hover);
    color: var(--hover-green);
    background-color: var(--light-beije);
}

.done:checked::after {
    content: "✔";
    color: var(--hover-green);
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}