.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 234px;
    height: fit-content;
    margin: 10px;
    border: 2px solid gray;
    border-radius: 10px;
    background-color: var(--light-gray-background);

    .project-header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        width: 100%;
    }

    .project-card-selected {
        box-shadow: var(--selected);
    }

    button {
        border: grey;
        border-radius: 6px;
        box-shadow: var(--shadow);
        margin: 5px;
    }

    .new-todo-plus-button {
        padding: 0 10px;
        font-weight: 400;
        font-size: 2em;
        margin: 10px;
        border-radius: 50px;
        box-shadow: var(--shadow);
        border: gray;
    }
}

.todo-card {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 190px;
    height: 220px;
    border: 1px solid gray;
    border-radius: 6px;
    padding: 10px;
    margin: 10px;
    box-shadow: var(--shadow);
    background-color: white;

    .disable-display {
        display: none;
    }

    .enable-display {
        display: flex;
    }

    .todo-description {
        height: 5em;
        border: 0.5px solid grey;
        border-radius: 3px;
        padding: 2px;
    }

    button {
        width: fit-content;
        padding: 2px 20px;
    }
}