.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: fit-content;
    height: fit-content;
    margin: 10px;
    border: 2px solid gray;
    border-radius: 10px;
    background-color: var(--background-project-cards);

    .project-header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        width: 100%;
    }

    .project-delete-button {
        border: grey;
        border-radius: 6px;
        margin: 10px;
        padding: 10px 20px;
        font-size: 1.2em;
    }

    .add-todo-plus-button {
        padding: 0 10px;
        font-weight: 400;
        font-size: 2em;
        margin: 10px;
        border-radius: 50px;
        border: gray;
    }
}

.project-card-selected {
    box-shadow: var(--selected);
}

.todo-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    width: 400px;
    height: fit-content;
    border: 1px solid gray;
    border-radius: 6px;
    padding: 10px;
    margin: 10px;
    box-shadow: var(--shadow);
    background-color: white;

    .disable-display {
        display: none;
    }

    .enable-display {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 100%;
        height: fit-content;
        border: 1px solid gray;
        border-radius: 6px;
        padding: 10px;
        margin: 10px;
        box-shadow: var(--shadow);
        background-color: white;
    }

    .todo-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .todo-description {
        height: 5em;
        border: 0.5px solid grey;
        border-radius: 3px;
        padding: 2px;
    }

    button {
        width: fit-content;
        height: fit-content;
        padding: 2px 20px;
    }

    i {
        font-size: 1.2em;
        padding: 8px;
        border-radius: 4px;
    }
}

.todo-card-details-enabled {
    flex-direction: column;
}

i:hover {
    box-shadow: var(--shadow-hover);
    color: var(--hover-red);
}

.project-delete-button:hover {
    color: var(--hover-red);
    font-weight: 900;
}

.add-todo-plus-button:hover {
    color: var(--hover-green);
}